<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url("/static/css/styles.css");
        {{#if chapter}}
        @import url("/static/modules/vs2015.min.css");
        {{/if}}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/modules/jquery-3.7.1.min.js"><'+'/script>')</script>
    {{#if chapter}}
    <script src="/static/modules/highlight.min.js"></script>
    {{/if}}
    <script src="/static/js/body_scripts.js"></script>
    <script src="/static/js/counters_head.js"></script>
    <title>{{{title}}}</title>
</head>
<body>
<script src="/static/js/counters_body.js"></script>
{{! todo: добавить breacrumbs }}
{{! todo: header через макет }}
{{! todo: исправать header}}
{{{body}}}
</body>
</html>