<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <nav id="toc" class="sticky-top" data-toggle="toc"></nav>
        </div>
        <div class="col-sm-9">
            {{{body}}}
        </div>
    </div>
</div>
<!--<style>-->
<!--    nav[data-toggle="toc"] {-->
<!--        top: 42px;-->
<!--    }-->

<!--    /* small screens */-->
<!--    /*@media (max-width: 768px) {*/-->
<!--    /*    !* override stickyness so that the navigation does not follow scrolling *!*/-->
<!--    /*    nav[data-toggle="toc"] {*/-->
<!--    /*        margin-bottom: 42px;*/-->
<!--    /*        position: static;*/-->
<!--    /*    }*/-->

<!--    /*    !* PICK ONE *!*/-->
<!--    /*    !* don't expand nested items, which pushes down the rest of the page when navigating *!*/-->
<!--    /*    nav[data-toggle="toc"] .nav .active .nav {*/-->
<!--    /*        display: none;*/-->
<!--    /*    }*/-->
<!--    /*    !* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this *!*/-->

<!--    /*    nav[data-toggle='toc'] .nav .nav {*/-->
<!--    /*      display: block;*/-->
<!--    /*    }*/-->

<!--    /*    #toc {*/-->
<!--    /*        position: relative;*/-->
<!--    /*        height: 300px;*/-->
<!--    /*        overflow: auto;*/-->
<!--    /*    }*/-->

<!--    /*}*/-->
<!--</style>-->



<!--<div class="container">-->
<!--    <div class="row">-->
<!--        &lt;!&ndash; sidebar, which will move to the top on a small screen &ndash;&gt;-->
<!--        <div class="col-sm-2">-->
<!--            <nav id="toc" data-toggle="toc" class="sticky-top">-->
<!--            </nav>-->
<!--        </div>-->
<!--        &lt;!&ndash; main content area &ndash;&gt;-->
<!--        <div class="col-sm-10"  data-bs-spy="scroll" data-bs-target="#toc" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">-->



<!--        </div>-->
<!--    </div>-->
<!--</div>-->


