<div class="row g-0">
<h1  class="textbook-index-page display-5">{{title}}</h1>
</div>
<div class="container-fluid mb-4">
<div class="list-group">
    {{! Шаблон оглавления учебника}}
    {{#each chapters}}
        <a href="{{this.url}}" class="chapter-item mt-2 btn btn-outline-primary list-group-item list-group-item-action">{{this.title}}</a>
    {{/each}}
</div>
</div>

<style>
    .list-group-item.chapter-item{
        border-top-width: unset;
    }
    .list-group-item.chapter-item:first-child {}
</style>